<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.server.cloud.alarm.service.AlarmMapper">
  
  	<insert id="createProAlarm">
  INSERT INTO ALARM (ALARM_CONTENT, ALARM_TYPE, ALARM_RECEIVER) 
  VALUES(#{project_name},'AD_PRO','cloud200')
</insert>
  	
  	<insert id="assignEngineer">
  		INSERT INTO ALARM (ALARM_CONTENT,ALARM_TYPE,ALARM_RECEIVER) 
  		VALUES('새로운 서버를 배정 받았습니다. 정기점검 날짜를 확인해주세요.','ENG_ASS',#{eng_id})
  	</insert>
  	
  	<insert id="assignTeam">
  		INSERT INTO ALARM (ALARM_CONTENT, ALARM_TYPE, ALARM_RECEIVER)
		VALUES('새로운 프로젝트가 배정 됐습니다. 팀원을 배정해주세요.', 'ENGL_ASS', (SELECT E.ENG_ENID
		FROM ENGINEER E
		LEFT JOIN ENG_TEAM T ON E.TEAM_NUM = T.TEAM_NUM
		WHERE T.TEAM_NUM = #{eng_team} AND E.ENG_RANK = '팀장'))
  	</insert>
  	
  	<insert id="assignClient">
  		INSERT INTO ALARM (ALARM_CONTENT, ALARM_TYPE, ALARM_RECEIVER)
		VALUES ('요청하신 프로젝트가 승인 됐습니다. 엔지니어 배정 완료','CUS_ASS',(SELECT CUS_ID FROM PROJECTINFO WHERE PRO_ID = #{user_id})) 
  	</insert>
  	
  	<select id="todayAlarmCheck">
  		SELECT COUNT(*) AS ROW_COUNT
		FROM SERVER S
		LEFT JOIN ENGINEER E ON S.ENG_ENID = E.ENG_ENID
		LEFT JOIN PROJECTINFO P ON S.PRO_ID = P.PRO_ID
		WHERE S.ENG_ENID = #{eng_id}
		AND DATE_FORMAT(NOW(), '%d') = P.PRO_PI; 
  	</select>
  	

  	<insert id="todayAlarmEng">

  		INSERT INTO ALARM (ALARM_CONTENT, ALARM_TYPE, ALARM_RECEIVER)
		VALUES ('오늘은 정기점검이 있는 날입니다. 빠른 점검 부탁드립니다.','ENG_TODAY',#{eng_id})
  	</insert>
  	
  	<select id="todayAlarmCheck2">
  		SELECT COUNT(*) AS ROW_COUNT 
  		FROM PROJECTINFO 
  		WHERE PRO_PI = DATE_FORMAT(NOW(), '%d') 
  		AND CUS_ID = #{cus_id};
  	</select>
  	
  	<insert id="todayAlarmCus">
  		INSERT INTO ALARM (ALARM_CONTENT, ALARM_TYPE, ALARM_RECEIVER)
		VALUES ('오늘은 정기점검이 있는 날입니다!','CUS_TODAY',#{cus_id})
  	</insert>
  	
  	<insert id="emergencyRequest">
  		INSERT INTO ALARM (ALARM_CONTENT, ALARM_TYPE, ALARM_RECEIVER)
  		SELECT CONCAT('점검요청이 들어왔습니다. (',#{type},') 신속하게 담당 기사 배정해주세요. (', (SELECT SERVER_NAME FROM SERVER WHERE SERVER_ID = #{server_id}),')'), 'ENGL_EMR', (SELECT ENG_ENID FROM ENGINEER WHERE TEAM_NUM = (SELECT TEAM_NUM FROM ENGINEER E LEFT JOIN SERVER S ON E.ENG_ENID = S.ENG_ENID WHERE S.SERVER_ID = #{server_id}) AND ENG_RANK = '팀장')
  		FROM DUAL;
	</insert>

  	
  	<insert id="assignEmerEng">
  		INSERT INTO ALARM (ALARM_CONTENT, ALARM_TYPE, ALARM_RECEIVER)
		VALUES ('점검 요청건이 배정되었습니다. 신속한 확인 부탁드립니다.','ENG_EMR',#{eng_id})
  	</insert>
  	
  	<insert id="assignEmerCus">
  		INSERT INTO ALARM (ALARM_CONTENT, ALARM_TYPE, ALARM_RECEIVER)
		VALUES ('점검 요청건의 담당 기사가 배정되었습니다.','CUS_EMR',(SELECT P.CUS_ID FROM SERVER S LEFT JOIN PROJECTINFO P ON S.PRO_ID = P.PRO_ID WHERE SERVER_ID = #{server_id}))
  	</insert>

  	
  	<select id="getAlarmList">
  		SELECT * FROM ALARM WHERE ALARM_RECEIVER = #{user_id}
  		AND ALARM_CHECK_YN = 'N'
  		ORDER BY ALARM_DATE DESC	
  	</select>
  	
  	<select id="getAllAlarm">
  		SELECT * FROM ALARM WHERE ALARM_RECEIVER = #{user_id}
  		ORDER BY ALARM_DATE DESC
  	</select>
	
	<update id="changeAlarm">
		UPDATE ALARM SET ALARM_CHECK_YN = 'Y' WHERE ALARM_NUM=#{alarm_num}
	</update>
	
	<select id = "getServerVO">
		SELECT * FROM SERVER S LEFT JOIN ENG_SCHEDULE E ON S.SERVER_ID = E.SERVER_ID WHERE E.SCHE_NUM = #{sche_num}; 
	</select>
 	
 	<insert id = "editSchedule">
 		INSERT INTO ALARM (ALARM_CONTENT, ALARM_TYPE, ALARM_RECEIVER)
		VALUES (#{msg},'CUS_EDIT',(SELECT P.CUS_ID FROM SERVER S LEFT JOIN ENG_SCHEDULE E ON S.SERVER_ID = E.SERVER_ID LEFT JOIN PROJECTINFO P ON S.PRO_ID = P.PRO_ID WHERE E.SCHE_NUM = #{sche_num}))
 	</insert>
  
  </mapper>