<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.server.cloud.s3.AwsMapper">


    <insert id="setInfo">

        INSERT INTO FILE(FILE_ID, FILE_NAME, FILE_PATH, FILE_TYPE, UPLOAD_DATE, USER_ID)
        VALUES
        (
        #{file_id}, #{file_name}, #{file_path}, #{file_type}, #{upload_date}, #{user_id}
        )
        ON DUPLICATE KEY UPDATE
        FILE_ID = #{file_id}, FILE_NAME = #{file_name}, FILE_PATH = #{file_path}, FILE_TYPE = #{file_type},
        UPLOAD_DATE = #{upload_date}, USER_ID = #{user_id}

    </insert>
    <select id="getImg" resultType="com.server.cloud.s3.FileVO">

        SELECT * FROM FILE WHERE
        USER_NUM = #{userId};

    </select>


    <insert id="setAnno">

        INSERT INTO NOTICE(NOTICE_TITLE,
        NOTICE_CONTENT, NOTICE_REGDATE, NOTICE_COMMENT, NOTICE_TARGET, NOTICE_WRITER)
        VALUES (

        #{notice_title},
        #{notice_content},
        #{notice_regdate},
        #{notice_comment},
        #{notice_target},
        #{notice_writer}

        )
        <!-- <selectKey keyProperty="notice_num" resultType="NoticeVO" order="AFTER"> 
            SELECT notice_num FROM NOTICE ORDER BY NOTICE_REGDATE DESC LIMIT 1; </selectKey> -->
    </insert>
    <insert id="UpAnno">

        INSERT INTO NOTICE(NOTICE_NUM, NOTICE_TITLE,
        NOTICE_CONTENT, NOTICE_REGDATE, NOTICE_COMMENT, NOTICE_TARGET)
        VALUES (
        #{notice_num},
        #{notice_title},
        #{notice_content},
        #{notice_regdate},
        #{notice_comment},
        #{notice_target}
        )
        ON DUPLICATE KEY UPDATE
        NOTICE_NUM = #{notice_num},
        NOTICE_TITLE = #{notice_title},
        NOTICE_CONTENT = #{notice_content},
        NOTICE_REGDATE = #{notice_regdate},
        NOTICE_COMMENT = #{notice_comment},
        NOTICE_TARGET = #{notice_target}
        <!-- <selectKey keyProperty="notice_num" resultType="NoticeVO" order="AFTER"> 
            SELECT notice_num FROM NOTICE ORDER BY NOTICE_REGDATE DESC LIMIT 1; </selectKey> -->
    </insert>
    <insert id="setFile">
        <selectKey keyProperty="user_num" resultType="String"
            order="BEFORE">
            SELECT NOTICE_NUM FROM NOTICE WHERE NOTICE_WRITER = #{user_id}
            ORDER BY NOTICE_REGDATE DESC LIMIT 1;
        </selectKey>
        
        
        INSERT INTO FILE(FILE_NAME, FILE_PATH, FILE_TYPE, UPLOAD_DATE, USER_NUM, USER_ID)
        VALUE
        (#{file_name}, #{file_path}, #{file_type}, #{upload_date}, #{user_num}, #{user_id})

    </insert>

    <insert id="setFileCs">
        <selectKey keyProperty="user_num" resultType="String"
            order="BEFORE">
            SELECT CS_NUM FROM CS WHERE CS_WRITER = #{user_id}
            ORDER BY CS_REGDATE DESC LIMIT 1;
        </selectKey>
        
        
        INSERT INTO FILE(FILE_NAME, FILE_PATH, FILE_TYPE, UPLOAD_DATE, USER_NUM, USER_ID)
        VALUE
        (#{file_name}, #{file_path}, #{file_type}, #{upload_date}, #{user_num}, #{user_id})
    </insert>


    <insert id="setFiles" >
      <selectKey keyProperty="work_filenum" resultType="String"
         order="BEFORE">
         SELECT WORK_FILENUM FROM WORKINFO WHERE ENG_ENID = #{user_id}
         ORDER BY WORK_DATE DESC LIMIT 1;
      </selectKey>

         insert into
         FILE(file_name,file_path,file_type,upload_date,user_num,user_id) 
         values

         <foreach collection="list" item="item" separator=",">      
            (#{item.file_name}, #{item.file_path}, #{item.file_type}, #{item.upload_date}, #{work_filenum}, #{item.user_id})
         </foreach>
     </insert> 
    
    



    <delete id="fileDel">
    
    DELETE FROM FILE WHERE FILE_ID = #{file_num}
    </delete>
    
    <delete id="AnnoDel">
	    DELETE FROM NOTICE WHERE NOTICE_NUM = #{notice_num};
	    DELETE FROM NOTICE_COMMENT WHERE NOTICE_NUM = #{notice_num};
    </delete>
    
    <delete id="inQuryDel">
	    DELETE FROM CS WHERE CS_NUM = #{notice_num};
	    DELETE FROM NOTICE_COMMENT WHERE NOTICE_NUM = #{notice_num};
    </delete>
    

    <select id="getFiles" resultType="com.server.cloud.s3.FileVO">

        SELECT * FROM FILE 
        WHERE USER_NUM = #{work_filenum};

    </select>

    
</mapper>
