<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.server.cloud.engineer.service.EngineerMapper">

	<select id="newList" resultType="EngSerProInfoWorkInfoVO">
	
		SELECT DISTINCT
		C.CUS_ADDRESS1,
        C.CUS_ADDRESS2,
        C.CUS_BOSS,
        C.CUS_BUSINESS_ID,
        C.CUS_COMPANY_NAME,
        C.CUS_EMAIL,
        C.CUS_COMPANY_PH,
        C.CUS_ID,
        C.CUS_MANAGET_NAME,
        C.CUS_NUM,
        C.CUS_PHONE_NUMBER,
        P.PRO_ENDDATE,
        P.PRO_ID,
        P.PRO_INFO,
        P.PRO_NAME,
        P.PRO_PI,
        P.PRO_REP,
        P.PRO_STARTDATE,
        P.PRO_STATUS
        FROM ENGINEER E
		LEFT JOIN SERVER S ON E.ENG_ENID = S.ENG_ENID
		LEFT JOIN PROJECTINFO P ON S.PRO_ID = P.PRO_ID
        LEFT JOIN CUSTOMER C ON P.CUS_ID = C.CUS_ID
		LEFT JOIN WORKINFO W ON W.ENG_ENID
		= E.ENG_ENID
		WHERE E.ENG_ENID = #{eng_enid};
		
	</select>

	<select id="engProInfo" resultType="EngSerProInfoWorkInfoVO">
      SELECT DISTINCT
      E.ENG_ENID,
      E.ENG_NAME,
      P.PRO_NAME,
      P.PRO_ID
      FROM ENGINEER E
      LEFT JOIN SERVER S ON E.ENG_ENID = S.ENG_ENID
      LEFT JOIN
      PROJECTINFO P ON S.PRO_ID = P.PRO_ID
      LEFT JOIN WORKINFO W ON W.ENG_ENID
      = E.ENG_ENID
      WHERE E.ENG_ENID = #{ENG_ENID} and P.PRO_STATUS = "프로젝트 진행중";
   </select>


	<select id="serverList" resultType="ServerVO">
		SELECT * FROM SERVER;
	</select>
	
	
	

	<insert id="registWorkLog" parameterType="java.util.List">
		 <selectKey keyProperty="work_filenum" resultType="String" order="BEFORE">
	        SELECT UUID()
	     </selectKey>
		insert into WORKINFO
		(work_filenum,
		work_date,
		work_division,
		work_time,
		work_cpu,
		work_ram,
		work_hdd,
		work_note,
		work_estimate,
		work_status,
		server_id,
		eng_enid,
		pro_id)
		values
		<foreach collection="list" item="workInfo" separator=",">
			(#{work_filenum},
			#{workInfo.work_date},
			#{workInfo.work_division},
			#{workInfo.work_time},
			#{workInfo.work_cpu},
			#{workInfo.work_ram},
			#{workInfo.work_hdd},
			#{workInfo.work_note},
			#{workInfo.work_estimate},
			#{workInfo.work_status},
			#{workInfo.server_id},
			#{workInfo.eng_enid},
			#{workInfo.pro_id}
			)
		</foreach>
	</insert>

	<select id="engineerListMap"
		resultType="EngineerVO">
		select e.*, t.team_id
		from ENGINEER e
		join ENG_TEAM t on e.team_num = t.team_num
		where e.team_num = (
		    select team_num
		    from ENGINEER
		    where eng_enid = #{eng_enid}
		);
		
	</select> 


	<select id="inspectionListMap"
		resultType="WorkInfoVO"> 
 		select wi.*, si.server_name, ei.eng_name, ei.eng_enid, ei.eng_num, si.server_status, pi.pro_name
		from WORKINFO wi
		inner join SERVER si on wi.server_id = si.server_id
		inner join ENGINEER ei on wi.eng_enid = ei.eng_enid
		inner join PROJECTINFO pi on wi.pro_id = pi.pro_id
		where ei.eng_enid = #{eng_enid} order by work_date desc;
	</select>
	

	<select id="serverDetailModal">
		select s.*, p.pro_name
		from SERVER s
		inner join PROJECTINFO p on s.pro_id = p.pro_id
		where server_id=#{server_id};
	</select>


 	<select id="pastInspectionHistoryList">
		select wi.*, s.server_name
		from WORKINFO wi
		inner join SERVER s on wi.server_id = s.server_id
		where wi.server_id=#{server_id} and wi.work_status = '점검완료';
	</select> 
	
	
	<select id="getProjectDetail">
  		SELECT * FROM CUSTOMER C
		LEFT JOIN PROJECTINFO P
		ON C.CUS_ID = P.CUS_ID
		WHERE P.PRO_ID=#{pro_id}
  	</select>
	
	<select id="getProjectServer">
  		SELECT S.*,E.ENG_NAME 
  		FROM SERVER S 
  		LEFT JOIN ENGINEER E 
  		ON S.ENG_ENID = E.ENG_ENID 
  		WHERE S.PRO_ID=#{pro_id}
  	</select>
  	
  	<update id="editSchedule">
  		UPDATE ENG_SCHEDULE SET
  		SCHE_STARTDATE = #{sche_startdate},
  		SCHE_ENDDATE = #{sche_enddate}
  		WHERE SCHE_NUM = #{sche_num}
  	</update>

  	
  	<update id="updateWorkStatus">
  		UPDATE WORKINFO SET WORK_STATUS = #{work_status} WHERE SERVER_ID = #{server_id};
  	</update>

	
	<select id="getServer" resultType="com.server.cloud.command.ServerVO">
	
	select * from SERVER where eng_enid=#{eng_enid}
	
	</select>
	
	<select id="getScheInfo" resultType="com.server.cloud.command.ScheduleVO">
	SELECT E.SCHE_NUM,E.SCHE_STARTDATE,E.SCHE_ENDDATE,E.SCHE_NAME,E.SCHE_NUM,E.ENG_ENID,E.SERVER_ID,S.SERVER_NAME,F.PRO_NAME,F.PRO_ID FROM ENG_SCHEDULE E JOIN SERVER S ON E.SERVER_ID=S.SERVER_ID 
	JOIN PROJECTINFO F 
	ON S.PRO_ID=F.PRO_ID WHERE E.SCHE_NUM=#{sche_num};

	
	</select>
	

	
	
	<select id="getEnInfo" resultType="com.server.cloud.command.EngineerVO">
	
	SELECT E.*,TEAM_ID FROM (SELECT * FROM ENGINEER F WHERE ENG_ENID=#{en_enid})AS E join ENG_TEAM T ON E.TEAM_NUM=T.TEAM_NUM;
	</select>
	
</mapper>

